<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.logicsystems.appsofom">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/ApplicationName"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="m">
        <activity
            android:name=".SearchResultClienteActivity"
            android:exported="false" />
        <activity
            android:name=".GrupoSolidarioActivity"
            android:exported="false" />
        <activity
            android:name=".NegocioActivity"
            android:exported="false" />
        <activity
            android:name=".DireccionesActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityGrupoSolidario"
            android:exported="false" />
        <activity
            android:name=".OperationActivity"
            android:exported="false" />
        <activity
            android:name=".ListaCreditosXCobrarActivity"
            android:exported="false" />
        <activity
            android:name=".CobroAccesoriosActivity"
            android:exported="false" />
        <activity
            android:name=".OperationSearchPrestamo"
            android:exported="false" />
        <activity
            android:name=".ReestructurarActivity"
            android:exported="false" />
        <activity
            android:name=".RenovarActivity"
            android:exported="false" />
        <activity
            android:name=".SolicitudActivity"
            android:exported="false" />
        <activity
            android:name=".SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".PrestamosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppSofom">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ClientesActivity"
            android:exported="false" />
        <activity
            android:name=".SearchClientesActivity"
            android:exported="false" />
        <activity
            android:name=".SScreenActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:exported="false" />
    </application>

</manifest>